.footer {
  display: grid;
  align-items: center;
  text-align: center;
  padding: 10px;
  color: black;
}
.footer__text {
  font-size: 1rem;
  color: black;
}
.footer__social-networks {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
.footer__social-icon {
  font-size: 2.2rem;
  color: #0056b3;
  cursor: pointer;
  transition: color 0.3s ease;
}
.footer__social-icon:hover {
  color: #007bff;
}
.footer__back-to-top-icon {
  font-size: 2rem;
  color: black;
  cursor: pointer;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: #007bff;
  padding: 0.5rem;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.footer__back-to-top-icon:hover {
  background-color: #0056b3;
}
@media screen and (max-width: 430px) {
  .footer__text {
    font-size: 0.9rem;
  }
  .footer__social-icon {
    border-radius: 15px;
    font-size: 3.2rem;
  }
}
