.experience__title {
  padding-top: 15px;
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 1.5rem;
  color: black;
}
.experience__logos {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.experience__subtitle {
  font-size: 1.2rem;
  text-align: center;
  color: black;
}
.experience__logos img {
  max-width: 100px;
  margin: 1rem;
}
.experience__images {
  padding-bottom: 15px;
}
hr {
  opacity: 0.3;
}
@media screen and (max-width: 430px) {
  .experience__title {
    font-size: 1.5rem;
  }
  .experience__subtitle {
    font-size: 1.3rem;
  }
  .experience__logos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
  .experience__frame {
    display: grid;
    justify-content: center;
  }
  .experience__images {
    display: flex;
    justify-self: center;
  }
}
